name: Release LLD binaries

on:
  push:
    tags:
      - v[0-9]+.*

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/create-gh-release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    needs: create-release
    runs-on: ${{ matrix.runner }}

    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            targets: X86

          - runner: macos-15
            targets: AArch64

    steps:
      - uses: actions/checkout@v4

      - name: Configure build
        run: >
          cmake -B llvm-build -G Ninja
          -DCMAKE_BUILD_TYPE=Release
          -DLLVM_TARGETS_TO_BUILD=${{ matrix.targets }}
          -DLLVM_ENABLE_PROJECTS='lld'
          -S ${{ github.workspace }}

      - name: Build lld
        run: ninja check-lld
